.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.carousel-caption{
    margin-bottom: 5%;
}

.carousel-caption p{
    color:white;
}

.nav-link{
  margin-top: 20px;    
}

.nav-pills .nav-link.active {
    background-color: #696969!important;
    margin-bottom: 10px;
}

#wanted{
	display: flex;
	justify-content: space-around;
}

.all img{
	width: 350px;
	opacity: 0.7;
}

#wanted span{
	color: orange;
}

.all{
	position: relative;
	font-family: arial;
}

.all h3{
	position: absolute;
	top: -9px;
	left: 15px;
	font-size: 2em;
	font-weight: normal;
	background: white;
	opacity: 0.8;	
	text-align: center;
	border-radius: 9px;
	width: 260px;
	height: 70px;
	padding: 15px 30px;
}

.all h2{
	position: absolute;
	top: 155px;
	left: 65px;
	color: white;
	font-size: 3.8em;
	font-weight: normal;
	text-align: center;
}

.all:hover img{
	opacity: 1;
}

.all:hover h3{
	display: none;
}

.all:hover h2{
	top: 320px;
	left: 120px;
	font-size: 1.8em;
}

.card-deck{
    margin-top:40px;
}

.btn-primary{
    background-color: #3d7996!important;
}


.container .card-text{
    max-height: 140px;
    overflow: scroll;
    margin-top: 15px;
    margin-bottom: 15px;
}

.media p{
    overflow: hidden;
    margin-top: -5px;
    margin-bottom: 5px;
}

.media{
    margin-bottom: 30px;
}

.card-body .rounded {
    margin-top: -5%;
}

table{
    border: 1px #c9d7ed double;
}

thead{
    background-color: #c9d7ed!important;
    color: black;
    border: 1px #c9d7ed solid;
}

td, th{
    border: 1px #c9d7ed solid;
}

.row .rounded{
    margin-right: 10px;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 60px;
}
.hr {
  color:black;
}

#contact{
  width: 100%;
}